<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <main>
        <h1>Вход</h1>
        <input type="text" placeholder="Логин или email">
        <input type="password" placeholder="Пароль">
        <a href="{{ url_for('about') }}" class="button">Вход</a>
        <div class="press">
            <div><a href="{{ url_for('register') }}">Регистрация</a></div>
            <div><a href="">Забыли пароль?</a></div>
        </div>
    </main>
</body>

</html>
